@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/variables';

$font-secondary: 'Poppins',Arial, sans-serif;
$cursive-font: 'Bad Script', cursive;
$font-primary: 'Montserrat', sans-serif;

$white: #fff;
$black: #000000;
$darken: #3a4348;
$background:  #001a33;
$background-2: #022d55;

$primary: #f05d23;
$primary-light: #fdf8f6;
$secondary: #5dd28e;
$grayish: #999999;
$whitish: #d9d9d9;